* {
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: .9;
    margin: 0, 0;
    position: relative;
    z-index: 1;
    
}
body {
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
    height: 800px;
    width: 100%;
}


.logoBar {
    border-bottom: 1px solid seashell;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 2;
    height: 69px;
    width: 100%;
    position: fixed;
    z-index: 2;

}
.logo {
    height: 50px;
    margin-left: 10px;
}
ul {
    text-align: right;
    margin-right: 10px;
    min-width: 400px;
    flex-shrink: 2;
    z-index: 2;
}

.logoBar li {
    display: inline;
    margin: 10px;

}
h2 {
    font-size: 150%;
}
.mission h2, .mission h4 {
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    flex-shrink: 2;
    
}

.mission {
    background: url("../images/img-mission-background.jpg");
    height: 700px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 1;
    position: relative;
    top: 69px;
   
}


.teaMonth {
    margin: 50px 0;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;

}


.teaMonthImgs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.teaMonthImgs h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.teaImage {
    width: 300px;
    height: 200px;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.locations {
    background: url("../images/img-locations-background.jpg");
    text-align: center;
    height: 570px;
    width: 1200px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px 0 10px 0;
    
 
}

.locations h2 {
    width: 100%;
    background-color: transparent;
    margin: 15px;
}

.locationBoxes {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    background-color: transparent;
    padding: 0 70px;
}
.box {
    max-width: 300px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    opacity: 1;
    
}

.box h3, .box h4 {
    text-align: center;
    width: 300px;
    height: 69px;
    margin: 0 0px;
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footerCenter h2 {
    height: 60px;
    margin: 0px 0px 20px 0px;
    padding: 0, 0;
}

.footerCenter h5 {
    height: 60px;
    margin: 0px 0px;
    padding: 0, 0;
}


h5.copyright {
    margin-left: 20px;
    text-align: left;
}